name: Continuous Integration

on:
    pull_request:
        branches:
          - main
    push: # Any push to any branch

jobs:
    run-pr:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Changes
          uses: actions/checkout@v2
          with:
              repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
              ref: ${{ github.event.pull_request.head.sha || github.event.ref }}
              fetch-depth: 0
        - name: Install Conda Packages for PR
          uses: mamba-org/provision-with-micromamba@main
          with:
              environment-file: env.yml
        - name: Run PR convertSamplesheetToConfigSamples
          run: |
            chmod +x ./scripts/convertSamplesheetToConfigSamples.py
            ./scripts/convertSamplesheetToConfigSamples.py -s data/test.csv > data/pr-test-config.yaml
        - name: Upload Artifacts
          uses: actions/upload-artifact@v2
          with:
              name: pr-test-config
              path: data/pr-test-config.yaml
    run-main:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Main
          uses: actions/checkout@v2
          with:
              repository: wuv21/viral-asapseq-snakemake
              ref: main
        - name: Install Conda Packages for Main
          uses: mamba-org/provision-with-micromamba@main
          with:
              environment-file: env.yml
        - name: Run Main convertSamplesheetToConfigSamples
          run: |
            chmod +x ./scripts/convertSamplesheetToConfigSamples.py
            ./scripts/convertSamplesheetToConfigSamples.py -s data/test.csv > data/main-test-config.yaml
        - name: Upload Artifacts
          uses: actions/upload-artifact@v2
          with:
              name: main-test-config
              path: data/main-test-config.yaml
    compare:
      needs:
        - run-pr
        - run-main
      runs-on: ubuntu-latest
      steps:
        - name: Download PR Artifact
          uses: actions/download-artifact@v2
          with:
              name: pr-test-config
              path: data
        - name: Download Main Artifact
          uses: actions/download-artifact@v2
          with:
              name: main-test-config
              path: data
        - name: Determine Differences
          run: |
              diff pr-test-config.yaml main-test-config.yaml > diff.txt
              if [ -s diff.txt ]
              then
                  echo "Differences found"
                  exit 1
              else
                  echo "No differences found"
              fi
        - name: Output Differences
          if: failure()
          run: |
              cat diff.txt
